In [29]:
SELECT MIN(list_price) AS 'Legkisebb (minimum) ár'
FROM order_items

Legkisebb (minimum) ár
269.99

In [31]:
SELECT MAX(list_price) AS 'Legnagyobb (maximum) ár'
FROM order_items

Legnagyobb (maximum) ár
321898.89

In [32]:
SELECT STDEV(list_price) AS 'Az árak szórása'
FROM order_items

Az árak szórása
"9968,525270827464"

In [28]:
SELECT COUNT(*) AS 'Termékek száma melyeken nincs kedvezmény'
FROM order_items
WHERE discount IS NULL

Termékek száma melyeken nincs kedvezmény
145

In [20]:
SELECT AVG(discount) AS 'Átlag kedvezmény (tizedesen)'
FROM order_items

Átlag kedvezmény (tizedesen)
0.104929

In [22]:
SELECT VAR(discount) AS 'Kedvezmények eloszlása (tizedesen)'
FROM order_items

Kedvezmények eloszlása
"0,0033542664123831683"